.address {
	font-size: 1.4rem;
}

.edit-btn {
	font-size: 1.4rem;
	align-self: flex-start;
}

.cart-container {
	margin: auto;
	max-width: 102.4rem;
}

.quantity-btn {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	color: var(--white);
	background-color: var(--primary-hover-color);
}

.cart-products {
	flex: 1 0 62%;
}

.cart-details {
	flex-grow: 1;
	align-self: flex-start;
}

.quantity-input {
	width: 4rem;
}
