.cart-container {
	margin: auto;
	max-width: 102.4rem;
}

.quantity-btn {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	color: var(--white);
	background-color: var(--primary-hover-color);
}

.cart-item {
	flex-grow: 1;
}

.cart-details {
	width: 45%;
	align-self: flex-start;
}

.quantity-input {
	width: 4rem;
}
