.cart-container {
	max-width: 102.4rem;
}

.quantity-btn {
	width: 2.5rem;
	height: 2.5rem;
	font-size: 2rem;
	color: var(--white);
	background-color: var(--primary-hover-color);
}

.quantity-input {
	width: 4rem;
}

.cart-details {
	width: 40%;
	background-color: var(--white);
}
